*

!.config/
!.config/nvim/
!.config/nvim/**/*
!.config/XCompose/
!.config/XCompose/**/*
!.config/zsh/
!.config/zsh/**/*
!.config/keyd.conf
!.config/mimeapps.list
!.config/wgetrc

!.local/
!.local/share/
!.local/share/applications/
!.local/share/applications/**/*

!bin/
!bin/*

!.gitignore
!.xinitrc
!.zshenv
